.entry_loading {
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.loading_border {
  width: 100%;
  animation: fadeIn 2s ease-in-out, widthIn 2s ease-in-out;
  background-color: #aaa;
  height: 2px;
}

.top {
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes widthIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}