.is_display {
  opacity: 1;
}

.is_not_display {
  opacity: 0;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  background-color: #fff;
  position: fixed;
}

.logo {
  width: 15%;
  align-self: flex-end;
}

.ul {
  display: flex;
  width: 50%;
  /* justify-content: end; */
}

.li {
  width: 25%;
  list-style: none;
  align-self: center;
}
