.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #eaeaea;

}

.logo {
  width: 25%;
}

.ul {
  display: flex;
  width: 50%;
  /* justify-content: end; */
}

.li {
  width: 25%;
  list-style: none;
}