.top_news_wrapper {
  margin: 250px 0 150px;
}
.title_wrapper {
  display: flex;
  margin-top: 30px;
  border-bottom: 3px solid #ccc;
  justify-content: space-between;
}

.news_link {
  align-self: end;
}

.contents_wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.contents_wrapper > li {
  margin-bottom: 10px;
}
